<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::adminNavs}"></nav>
	<div class="text-center p-3">
		<span style="font-family: 'Lora' ; font-size: x-large;">Add Attendence:-</span>
	</div>
	<div class="container p-2">
		<form th:action="${'/admin/addAttendenceDetails'}" method="post">
			<table class="table table-hover overflow-scroll">
				<thead>
					<tr class="text-center">
						<th scope="col">Select</th>
						<th scope="col">Dates</th>
						<th scope="col">Employee Id</th>
						<th scope="col">Employee Firstname</th>
						<th scope="col">Employee Lastname</th>
					</tr>
				</thead>
				<tbody>

					<tr style="font-family: 'Poppins';" class="text-center" th:if="${listOfEmployees}"
						th:each="list : ${listOfEmployees}">
						<td>
							<input type="checkbox" style="width: 20px;height: 20px;" th:name="${list.employeeId}" id="" class="mt-1">
						</td>
						<td>
							<input type="date" required th:name="${list.dateOfBirth}" id="" class="form-control">
						</td>
						<td th:text="${list.employeeId}"></td>
						<td th:text="${list.firstName}"></td>
						<td th:text="${list.lastName}"></td>
					</tr>
				</tbody>
			</table>
			<div class="text-center mt-3" th:if="${listOfEmployees}">
				<button class="btn btn-success" type="submit">OK</button>
			</div>
		</form>
		<div class="text-center" th:unless="${listOfEmployees}">
			<img src="/images/noData.jpg" class="img-fluid " alt="" />
		</div>
	</div>
	<th:block th:if="${message}">
		<script>
			var msg = '[[${message}]]';
			swal("Error", msg, "error");
		</script>
	</th:block>
	<th:block th:if="${submitOk}">
		<script>
			var msg = '[[${submitOk}]]';
			swal("Success", msg, "success");
		</script>
	</th:block>
</body>

</html>