<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::adminNavs}"></nav>
	<div class="text-center p-3">
		<span style="font-family: 'Lora' ; font-size: x-large;">Viewing Employee Details :-</span>
	</div>
	<div class="container p-2 table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="text-center">
					<th scope="col">Employee Id</th>
					<th scope="col">Firstname</th>
					<th scope="col">Lastname</th>
					<th scope="col">Gender</th>
					<th scope="col">Mobile</th>
					<th scope="col">DateOfBirth</th>
					<th scope="col">Address</th>
					<th scope="col">Password</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr style="font-family: 'Poppins';" class="text-center" th:if="${listOfEmployees}" th:each="list ,listStat : ${listOfEmployees}">
					<td><img th:src="@{'/employee-images/'+${list.employeePic}}" alt="" style="width: 60px;height: 60px;" /><span th:text="'#NUM'+${list.employeeId}"></span></td>
					<td th:text="${list.firstName}"></td>
					<td th:text="${list.lastName}"></td>
					<td th:text="${list.gender}"></td>
					<td th:text="${list.mobile}"></td>
					<td th:text="${list.dateOfBirth}"></td>
					<td th:text="${list.contactAddress}"></td>
					<td th:text="${list.password}"></td>
					<td>
						<form method="post" th:action="@{'/admin/editEmployeeDetails/'+${list.employeeId}}">
							<button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i>
								Edit</button>
						</form>
					</td>
					<td>
						<button th:onclick="'clickedBtn('+${numbers[listStat.index]}+')'"
							class="btn btn-sm btn-outline-danger">
							<i class="fa-solid fa-circle-xmark"></i> Delete
						</button>
						<a class="invisible" th:id="${numbers[listStat.index]}"
							th:href="@{'/admin/deleteEmployee/'+${list.employeeId}}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" th:unless="${listOfEmployees}">
			<img src="/images/noData.jpg" class="img-fluid " alt="" />
		</div>
	</div>
	<script>
		const clickedBtn = (empId) => {
			Swal.fire({
				title: 'Are you sure?',
				text: "Deleting Designation removes all employees present in current designation !!!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					let link = document.getElementById(empId + "");
					if (link) {
						link.click();
					}
				}
			})
		}
	</script>
	<th:block th:if="${message}">
		<script>
			var msg = '[[${message}]]';
			swal("Error", msg, "error");
		</script>
	</th:block>
	<th:block th:if="${submitOk}">
		<script>
			var msg = '[[${submitOk}]]';
			swal("Success", msg, "success");
		</script>
	</th:block>
</body>

</html>