<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::adminNavs}"></nav>
	<div class="text-center p-3">
		<span style="font-family: 'Lora' ; font-size: x-large;">Viewing Employee Details :-</span>
	</div>
	<div class="container p-2 table-responsive">
		<table class="table table-hover" id='table_id'>
			<thead>
				<tr class="text-center">
					<th scope="col">Salary id</th>
					<th scope="col">BasicSalary</th>
					<th scope="col">HRA</th>
					<th scope="col">DA</th>
					<th scope="col">PF</th>
					<th scope="col">IncomeTaxPercentage</th>
					<th scope="col">Healthinsurance</th>
					<th scope="col">OverTimePerHourPay</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr style="font-family: 'Poppins';" class="text-center" th:if="${listOfSalary}"
					th:each="list : ${listOfSalary}">
					<td th:text="'#NUM'+${list.salaryId}"></td>
					<td th:text="${list.basicSalary}"></td>
					<td th:text="${list.hra}"></td>
					<td th:text="${list.da}"></td>
					<td th:text="${list.pf}"></td>
					<td th:text="${list.incomeTaxPercentage}"></td>
					<td th:text="${list.healthinsurance}"></td>
					<td th:text="${list.overTimePerHourPay}"></td>
					<td>
						<button th:onclick="'clickedBtn('+${list.salaryId}+')'" class="btn btn-sm btn-outline-danger">
							<i class="fa-solid fa-circle-xmark"></i> Delete
						</button>
						<a class="invisible" th:id="${list.salaryId}"
							th:href="@{'/admin/deleteSalary/'+${list.salaryId}}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" th:unless="${listOfSalary}">
			<img src="/images/noData.jpg" class="img-fluid " alt="" />
		</div>
	</div>
	<script>
		const clickedBtn = (empId) => {
			Swal.fire({
				title: 'Are you sure?',
				text: "Deleting Designation removes all employees present in current designation !!!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					let link = document.getElementById(empId + "");
					if (link) {
						link.click();
					}
				}
			})
		}
	</script>
	<script>
		$(document).ready(function () {
			$('#table_id').DataTable({order: []});

		});
	</script>
	<th:block th:if="${message}">
		<script>
			var msg = '[[${message}]]';
			swal("Error", msg, "error");
		</script>
	</th:block>
	<th:block th:if="${submitOk}">
		<script>
			var msg = '[[${submitOk}]]';
			swal("Success", msg, "success");
		</script>
	</th:block>
</body>

</html>