<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::adminNavs}"></nav>
	<div class="text-center p-3">
		<span style="font-family: 'Lora' ; font-size: x-large;">Viewing Attendence :-</span>
	</div>
	<div class="container p-2">
		<table class="table table-hover overflow-scroll" id='table_id'>
			<thead>
				<tr class="text-center">
					<th scope="col">Attendence id</th>
					<th scope="col">Date</th>
					<th scope="col">Attendence Status</th>
					<th scope="col">Employee id</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr style="font-family: 'Poppins';" class="text-center" th:if="${listOfAttendence}" th:each="list : ${listOfAttendence}">
					<td th:text="'#NUM'+${list.attendanceId}"></td>
					<td th:text="${list.date}"></td>
					<td th:text="${list.attendanceStatus}"></td>
					<td th:text="${list.employeeAttendence.employeeId}"></td>
					<td>
						<button th:onclick="'clickedBtn('+${list.attendanceId}+')'"
							class="btn btn-sm btn-outline-danger">
							<i class="fa-solid fa-circle-xmark"></i> Delete
						</button>
						<a class="invisible" th:id="${list.attendanceId}"
							th:href="@{'/admin/deleteAttendence/'+${list.attendanceId}}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" th:unless="${listOfAttendence}">
			<img src="/images/noData.jpg" class="img-fluid " alt="" />
		</div>
	</div>
	<script>
		const clickedBtn = (departmentId) => {
			Swal.fire({
				title: 'Are you sure?',
				text: "Deleting department removes all employees present in department !!!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					let link = document.getElementById(departmentId + "");
					if (link) {
						link.click();
					}
				}
			})
		}
	</script>
	<script>
		$(document).ready(function () {
			$('#table_id').DataTable({order: []});

		});
	</script>
	<th:block th:if="${message}">
		<script>
			var msg = '[[${message}]]';
			swal("Error", msg, "error");
		</script>
	</th:block>
	<th:block th:if="${submitOk}">
		<script>
			var msg = '[[${submitOk}]]';
			swal("Success", msg, "success");
		</script>
	</th:block>
</body>

</html>