<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::adminNavs}"></nav>
	<div class="text-center p-3">
		<span style="font-family: 'Lora' ; font-size: x-large;">Viewing Leaves :-</span>
	</div>
	<div class="container p-2 table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="text-center">
					<th scope="col">Leave id</th>
					<th scope="col">Leave Type</th>
					<th scope="col">Leave StartingDate</th>
					<th scope="col">Leave EndDate</th>
					<th scope="col">Days</th>
					<th scope="col">Leave purpose</th>
					<th scope="col">Status</th>
					<th scope="col">Employee id</th>
					<th scope="col">Accept</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr style="font-family: 'Poppins';" class="text-center" th:if="${listOfLeaves}"
					th:each="list : ${listOfLeaves}">
					<td th:text="'#NUM'+${list.leaveId}"></td>
					<td th:text="${list.leaveType}"></td>
					<td th:text="${list.leaveStartDate}"></td>
					<td th:text="${list.leaveEndDate}"></td>
					<td th:text="${list.days}"></td>
					<td th:text="${list.leavepurpose}"></td>
					<td th:text="${list.leaveStatus}"></td>
					<td th:text="${list.employee.employeeId}"></td>
					<td>
						<form method="post" th:action="@{'/admin/acceptLeave/'+${list.leaveId}}">
							<button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i>
								Accept</button>
						</form>
					</td>
					<td>
						<button th:onclick="'clickedBtn('+${list.leaveId}+')'" class="btn btn-sm btn-outline-danger">
							<i class="fa-solid fa-circle-xmark"></i> Reject
						</button>
						<a class="invisible" th:id="${list.leaveId}"
							th:href="@{'/admin/deleteLeave/'+${list.leaveId}}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" th:unless="${listOfLeaves}">
			<img src="/images/noData.jpg" class="img-fluid " alt="" />
		</div>
	</div>
	<script>
		const clickedBtn = (empId) => {
			Swal.fire({
				title: 'Are you sure?',
				text: "Deleting Designation removes all employees present in current designation !!!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					let link = document.getElementById(empId + "");
					if (link) {
						link.click();
					}
				}
			})
		}
	</script>
	<th:block th:if="${message}">
		<script>
			var msg = '[[${message}]]';
			swal("Error", msg, "error");
		</script>
	</th:block>
	<th:block th:if="${submitOk}">
		<script>
			var msg = '[[${submitOk}]]';
			swal("Success", msg, "success");
		</script>
	</th:block>
</body>

</html>