<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::adminNavs}"></nav>
	<div class="text-center p-3">
		<span style="font-family: 'Lora' ; font-size: x-large;">Viewing Designations :-</span>
	</div>
	<div class="container p-2">
		<table class="table table-hover overflow-scroll">
			<thead>
				<tr class="text-center">
					<th scope="col">Designation Id</th>
					<th scope="col">Designation Name</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:if="${listOfDesignations}" th:each="list : ${listOfDesignations}">
					<td th:text="'#NUM'+${list.designationId}"></td>
					<td th:text="${list.designationName}"></td>
					<td>
						<form method="post" th:action="@{'/admin/editDesignation/'+${list.designationId}}">
							<button type="submit" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-eye"></i>
								Edit</button>
						</form>
					</td>
					<td>
						<button th:onclick="'clickedBtn('+${list.designationId}+')'"
							class="btn btn-sm btn-outline-danger">
							<i class="fa-solid fa-circle-xmark"></i> Delete
						</button>
						<a class="invisible" th:id="${list.designationId}"
							th:href="@{'/admin/deleteDesignation/'+${list.designationId}}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" th:unless="${listOfDesignations}">
			<img src="/images/noData.jpg" class="img-fluid " alt="" />
		</div>
	</div>
	<script>
		const clickedBtn = (designationId) => {
			Swal.fire({
				title: 'Are you sure?',
				text: "Deleting Designation removes all employees present in current designation !!!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					let link = document.getElementById(designationId + "");
					if (link) {
						link.click();
					}
				}
			})
		}
	</script>
	<th:block th:if="${message}">
		<script>
			var msg = '[[${message}]]';
			swal("Error", msg, "error");
		</script>
	</th:block>
	<th:block th:if="${submitOk}">
		<script>
			var msg = '[[${submitOk}]]';
			swal("Success", msg, "success");
		</script>
	</th:block>
</body>

</html>