<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<span data-th-insert="~{base::links}"></span>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${indexName}"></title>
</head>

<body>
	<div class="text-white p-2" style="background: #1a9b85;">
		<h3 style="font-family: 'Roboto'">Payroll Management System</h3>
	</div>
	<nav th:replace="~{base::employeeNavs}"></nav>
	<div class="container mt-3 rounded-3">
		<div class="card rounded shadow-lg">
			<div class="row p-5" style="background-color: #e2e2e2;">
				<div class="col-md text-center">
					<img th:src="@{'/images/salary.png'}" alt="Image of Salary"
						style="border-radius: 30px;width: 15em;height: 15em;" />
				</div>
				<div class="col-8" style="font-family: 'Poppins';">
					<h2 class="m-3" th:text="'#ID : '+${obj.salaryId}"></h2>
					<table class="table p-4  m-3 table-responsive fw-bold">
						<tbody>
							<tr>
								<td>Basic Salary</td>
								<td>:</td>
								<td th:text="${obj.basicSalary}"></td>
							</tr>
							<tr>
								<td>HRA</td>
								<td>:</td>
								<td th:text="${obj.hra}"></td>
							</tr>
							<tr>
								<td>DA</td>
								<td>:</td>
								<td th:text="${obj.da}"></td>
							</tr>
							<tr>
								<td>PF</td>
								<td>:</td>
								<td th:text="${obj.pf}"></td>
							</tr>
							<tr>
								<td>Income tax %</td>
								<td>:</td>
								<td th:text="${obj.incomeTaxPercentage}"></td>
							</tr>
							<tr>
								<td>Health Insurance</td>
								<td>:</td>
								<td th:text="${obj.healthinsurance}"></td>
							</tr>
							<tr>
								<td>Overtime per hr pay</td>
								<td>:</td>
								<td th:text="${obj.overTimePerHourPay}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>