<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title></title>
</head>

<body>
	<div th:fragment="links">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lora&family=Montserrat&family=Playfair+Display&family=Playpen+Sans:wght@300&family=Poppins&family=Roboto&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="/contents/adminstyles.css">
		<link rel="stylesheet" href="/contents/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	</div>
	<div>
		<nav class="navbar navbar-expand-lg navbar-success bg-light p-3" th:fragment="adminNavs">
			<a class="navbar-brand" href="/admin/index">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="departmentDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Department
						</a>
						<div class="dropdown-menu" aria-labelledby="departmentDropdown">
							<a class="dropdown-item" href="/admin/addDepartment">Add</a>
							<a class="dropdown-item" href="/admin/manageDepartment">Manage</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="designationDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Designation
						</a>
						<div class="dropdown-menu" aria-labelledby="designationDropdown">
							<a class="dropdown-item" href="/admin/addDesignation">Add</a>
							<a class="dropdown-item" href="/admin/manageDesignation">Manage</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Employee
						</a>
						<div class="dropdown-menu" aria-labelledby="employeeDropdown">
							<a class="dropdown-item" href="/admin/addEmployee">Add</a>
							<a class="dropdown-item" href="/admin/manageEmployee">Manage</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="salaryDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Salary
						</a>
						<div class="dropdown-menu" aria-labelledby="salaryDropdown">
							<a class="dropdown-item" href="/admin/addSalary">Add</a>
							<a class="dropdown-item" href="/admin/manageSalary">Manage</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Attendence
						</a>
						<div class="dropdown-menu" aria-labelledby="employeeDropdown">
							<a class="dropdown-item" href="/admin/addAttendence">Add</a>
							<a class="dropdown-item" href="/admin/manageAttendence">Manage</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Overtime Attendence
						</a>
						<div class="dropdown-menu" aria-labelledby="employeeDropdown">
							<a class="dropdown-item" href="/admin/addOverTimeAttendence">Add</a>
							<a class="dropdown-item" href="/admin/manageOverTimeAttendence">Manage</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Payroll
						</a>
						<div class="dropdown-menu" aria-labelledby="employeeDropdown">
							<a class="dropdown-item" href="/admin/generatePayroll">Add</a>
							<a class="dropdown-item" href="/admin/managePayroll">Manage</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/showLeaves">Leaves</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-danger" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<nav class="navbar navbar-expand-lg navbar-success bg-light p-3" th:fragment="employeeNavs">
			<a class="navbar-brand" href="/employee/index">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/employee/profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/employee/salary">Salary</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/employee/attendence">Attendence</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/employee/overtime">Overtime</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/employee/payslips">Payslips</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Leaves
						</a>
						<div class="dropdown-menu" aria-labelledby="employeeDropdown">
							<a class="dropdown-item" href="/employee/addLeave">Add</a>
							<a class="dropdown-item" href="/employee/viewLeaves">View</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link text-danger" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
</body>

</html>